.newTransactionCotrainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: solid black 1px;
}
.header {
    text-align: center;
    background-color: black;
    color: white;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
